body {
  background-image: url('https://cdn.cloudflare.steamstatic.com//steam/apps/4000/header.jpg');
  background-size: cover;       /* A imagem cobre toda a área */
  background-position: center;  /* Centraliza a imagem */
  background-repeat: no-repeat; /* Não repete a imagem */
  height: 100vh;                /* Garante altura total */
}
body {
    font-family: 'Arial', sans-serif;
}
/* Usando código Hexadecimal (recomendado) */
.titulo {
  color: #ffffff;
}